* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}

.banner {
  background-color: black;
  color: white;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.7rem;
  font-size: larger;
  padding-left: 6rem;
  font-family: "Kode Mono", monospace;
}
.container {
  background-color: rgba(9, 32, 52, 0.831);
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  height: 80%;
  column-gap: 1rem;
  width: 80%;
  margin: auto;
}
.scoreboard-container {
  color: white;
  flex-basis: 20%;
  text-align: center;
  flex-grow: 1;
  border-right: 2px solid white;
  padding: 0 10px;
  height: fit-content;
  font-family: "Kode Mono", monospace;
  font-size: 1.1rem;
}
.scoreboard-div-child {
  border-bottom: dashed 1px black;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  margin-bottom: 15px;
}

.scoreboard-container h1 {
  padding: 1rem;
  margin-bottom: 1rem;
}
.game-container {
  flex-grow: 3;
  flex-shrink: 0;
  flex-basis: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 1.5rem;
}

/* .grid-container {
  background-color: blanchedalmond;
  margin: auto;

  height: 800px;
  width: 800px;
} */
.grid-cell {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: "Kode Mono", monospace;
  font-weight: 700;
  user-select: none;
}

.grid-cell[data-coordinates="0,0"],
.grid-cell[data-coordinates="0,2"] {
}
#new-game-button {
  width: 20rem;
  border: 2px solid white;
  background-color: black;
  color: white;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 0.5rem;
  letter-spacing: 0.6rem;
  font-family: "Kode Mono", monospace;
}
#game-log-span > p {
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  text-align: end;
  margin-top: 1.5rem;
  cursor: pointer;
}

.hidden {
  display: none;
}

.left-container {
  display: flex;
}
.options-container {
}

.scoreboard-div-child {
}
