* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}

.banner {
  background-color: black;
  color: white;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1rem;
  font-size: larger;
  padding-left: 6rem;
}
.container {
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  height: 100%;
  column-gap: 1rem;
}
.scoreboard-container {
  flex-basis: 20%;
  text-align: center;
  flex-grow: 1;
  border-right: 2px solid purple;
}

.game-container {
  background-color: rgb(68, 188, 134);
  flex-grow: 3;
  flex-shrink: 0;
  flex-basis: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-right: 1rem;
}

/* .grid-container {
  background-color: blanchedalmond;
  margin: auto;

  height: 800px;
  width: 800px;
} */
.grid-cell {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

#new-game-button {
  width: 20rem;
  border: 2px solid white;
  background-color: black;
  color: white;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 0.5rem;
  letter-spacing: 0.6rem;
}

.turn-heading {
  display: none;
}
